/*
|====================================
| CSS root
|====================================
*/

:root {
  --color-white: #ffffff;
  --color-iris: #4d5ae5;
  --color-slate: #434455;
  --color-cloud: #f4f4fd;
  --color-navy-blue: #2e2f42;
}

/*******************************************
Base styles 
*******************************************/

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.02px;
  line-height: 24px;
  color: var(--color-slate);
  background-color: var(--color-white);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style-type: none;
}

/*******************************************
Header section
*******************************************/

header {
  border: 1px solid;
  border-color: #e7e9fc;
}

.logo-header {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  color: var(--color-iris);
}

.logo-word {
  color: var(--color-navy-blue);
}

.header-nav {
  color: var(--color-navy-blue);
}

.header-nav:hover,
.header-adress:hover {
  color: #404bbf;
}

.header-adress {
  color: var(--color-slate);
  font-weight: 400;
}

/*******************************************
Footer section
*******************************************/

footer {
  background-color: var(--color-navy-blue);
}

.footer-text {
  color: var(--color-cloud);
  font-weight: 400;
}

.footer-logo {
  color: var(--color-iris);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.17;
}

.footer-logo-word {
  color: var(--color-cloud);
}

/*******************************************
Index.html
*******************************************/
/*******************************************
Hero section
*******************************************/

.section-hero {
  background-color: var(--color-navy-blue);
  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
}

.button-index {
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px 0px #00000026;
  /*padding: 16px 32px;
  border-radius: 4px;*/
  border: none;
  letter-spacing: 0.04px;
  color: var(--color-white);
}

.button-index:hover {
  background-color: #404bbf;
}

/*
|====================================
| Benefits section
|====================================
*/

.title-benefits {
  font-size: 20px;
  color: var(--color-navy-blue);
}

.text-benefits {
  color: var(--color-slate);
  font-weight: 400;
}

.title-offer,
.title-team {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.section-team {
  background-color: #f4f4fd;
  color: var(--color-navy-blue);
}

.text-team {
  color: var(--color-slate);
  font-weight: 400;
}

/*******************************************
Portfolio.html
*******************************************/

.button-portfolio {
  border: 1px solid;
  border-color: #e7e9fc;
  /*border-radius: 4px;
  padding: 12px 24px;*/
  background-color: var(--color-cloud);
  color: #4d5ae5;
  letter-spacing: 0.04px;
  text-align: center;
  font-weight: 500;
}

.button-portfolio:hover {
  color: var(--color-white);
  border: none;
  background-color: #404bbf;
  box-shadow: 0px 2px 2px 0px #0000001f;
}

/**.photo-box {
  border: 1px solid;
  border-color: #e7e9fc;
}**/

.photo-title {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.photo-text {
  color: var(--color-slate);
}
